// default colors
$pure-black: #000000;
$pure-white: #ffffff;
$theme-red: #b81c27;
$text-disabled: #ababab;


$breakpoint-sm: 767px; // Small devices (phones, 767px and down)
$breakpoint-md: 1050px; // Medium devices (tablets, 768px to 991px)
$breakpoint-lg: 1200px; // Large devices (desktops, 992px to 1199px)
$breakpoint-xl: 1400px; // Extra large devices (large desktops, 1200px and up)

//mixin functions
@mixin flex($align: none, $justify: none, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}